.characterContainer {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  display: flex;
  gap: 24px;
}

.char {
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 4px;
  align-items: center;
  height: 50px;
  color: #dff6ff;
}

.found {
  opacity: 0.4;
}

.image {
  width: 35px;
  height: 35px;
}

.charName {
  font-size: 12px;
}
