.characterContainer {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 60vw;
}

.char {
  display: grid;
  grid-template-columns: 5vh 1fr;
  gap: 12px;
  align-items: center;
  color: #dff6ff;
}

.found {
  opacity: 0.4;
}

.image {
  width: auto;
  height: 5vh;
}

.charName {
  font-size: 1.2rem;
}

@media only screen and (min-width: 1080px) {
  .char {
    grid-template-columns: 8vh 1fr;
  }
  .image {
    width: auto;
    height: 8vh;
  }
}

@media only screen and (max-width: 850px) {
  .characterContainer {
    width: 75vw;
    padding: 6px;
    padding-bottom: 14px;
    gap: 1.3rem;
    justify-items: center;
  }
  .char {
    grid: 1fr 5vh / 1fr;
    justify-items: center;
    gap: 0.4rem;
  }
  .image {
    width: auto;
    height: 5vh;
  }
  .charName {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 1rem;
  }
}
