.homeButton {
  justify-self: end;
  padding: 1px 6px 1px 6px;
  text-decoration: none;
  font-size: 1.7rem;
  background: #06283d;
  color: #dff6ff;
}

.homeButton:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}
