.leaderboardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.leaderboard {
  margin: 24px 20%;
  min-width: 50vw;
  max-width: 800px;
  color: #06283d;
  background-color: #eaf6fb;
}

.title {
  color: #06283d;
  background-color: #dff6ff;
  font-size: 1.7rem;
  text-align: center;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.title a {
  color: #06283d;
  text-decoration: none;
  font-weight: 500;
}

.header,
.score {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  gap: 24px;
  padding: 8px 12px;
}

.header {
  font-size: 1.3rem;
  border: 1px solid #06283d;
}

.score {
  font-size: 1.1rem;
  border: 1px solid #06283d;
  border-top: none;
}

.scoreTime,
.time {
  justify-self: end;
}

@media only screen and (max-width: 700px) {
  .leaderboard {
    min-width: 85vw;
  }
  .title {
    font-size: 5vw;
  }
}
