.leaderboardPage {
  width: 100%;
  background-color: #dff6ff;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 60px 275px 1fr;
  gap: 32px;
  padding: 24px 64px;
  height: 125px;
  align-items: center;
  color: #dff6ff;
  background: #06283d;
  box-shadow: 1px 1px 5px #06283d;
}

.headerIcon {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.header .title {
  font-weight: 600;
  font-size: 2rem;
}

.header a {
  justify-self: end;
}

.links {
  display: flex;
  justify-content: space-around;
  padding-top: 24px;
}

#links img {
  height: 75px;
  width: auto;
}

@media only screen and (max-width: 800px) {
  .header {
    grid: 1fr 1fr / 1fr 4fr;
    padding: 12px 36px;
    gap: 0px;
    column-gap: 24px;
    text-align: center;
    justify-items: center;
    align-items: center;
  }
  .headerIcon {
    grid-area: 1 / 1 / 3 / 2;
    width: 80px;
    height: 80px;
  }
  .header h1 {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 1.6rem;
  }
  .header a {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    font-size: 1.2rem;
  }
}
