.leaderboard {
  margin: 24px 20%;
  min-width: 275px;
  max-width: 900px;
  color: #06283d;
  background-color: #eaf6fb;
}

.title {
  color: #06283d;
  background-color: #dff6ff;
  font-size: 1.7rem;
  text-align: center;
  padding-bottom: 8px;
}

.header,
.score {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  gap: 24px;
  padding: 8px 12px;
}

.header {
  font-size: 1.3rem;
  border: 1px solid #06283d;
}

.score {
  font-size: 1.1rem;
  border: 1px solid #06283d;
  border-top: none;
}

.scoreTime,
.time {
  justify-self: end;
}
