.leaderboardLink a {
  display: grid;
  justify-items: center;
  gap: 8px;
  text-align: center;
  text-decoration: none;
  color: #06283d;
  font-size: 1.5rem;
}

.leaderboardLink a:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

.leaderboardLink {
  text-align: center;
  display: grid;
  gap: 8px;
}

.leaderboardLink img {
  width: auto;
  height: 15vh;
  border: 1px solid #06283d;
}

.play {
  font-size: 0.8rem;
  color: #06283d;
}

.leaderboardLink .play:hover {
  transform: scale(1.15);
  transition: transform 0.1s ease-in-out;
}

@media only screen and (max-width: 800px) {
  .title {
    white-space: nowrap;
    overflow: hidden;
    font-size: 3.4vw;
  }

  .leaderboardLink .play {
    font-size: 3.4vw;
  }
  .leaderboardLink {
    max-width: 25vw;
  }
  .leaderboardLink img {
    max-width: 25vw;
    height: auto;
    object-fit: cover;
  }
}
