.scoreUploader {
  background-color: #dff6ff;
  z-index: 2;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 45%;
  height: 40%;
  min-width: 500px;
  min-height: 350px;
  border: 1px solid #06283d;
  padding: 12px;
  display: grid;
  grid: 1fr 1fr 1fr 1fr / 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.time {
  grid-area: 1 / 1 / 2 / 3;
  font-weight: 600;
  font-size: 2.5rem;
}

.instructions {
  grid-area: 2 / 1 / 3 / 3;
  font-size: 1.5rem;
}

.scoreUploader input {
  grid-area: 3 / 1 / 4 / 3;
  height: 3rem;
  width: 70%;
  font-size: 2rem;
  text-align: center;
  background-color: #eaf6fb;
  border: 1px solid #06283d;
}

.scoreUploader input:focus {
  outline: none !important;
  border: 1px solid #719ece;
  box-shadow: 0 0 5px #719ece;
}

.scoreUploader a {
  width: 100px;
  text-decoration: none;
  color: #06283d;
  font-size: 1.7rem;
}

.scoreUploader a:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}

.cancel {
  grid-area: 4 / 1 / 5 / 2;
}

.submit {
  grid-area: 4 / 2 / 5 / 3;
}
