.selector {
  grid-area: 1 / 1 / 2 / 2;
  position: absolute;
  display: grid;
  background-color: #dff6ff;
  border: 1px solid #06283d;
}

.char {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 2px;
  font-size: 0.6rem;
  border-bottom: 1px solid #06283d;
}

.char:last-child {
  border-bottom: none;
}

.char img {
  width: 30px;
  height: 30px;
}
